.sidebar {
  background-color:rgb(241, 240, 234);
}

.btn-sidebar {
  display: block;
  width: 100%;
  height: 40px;
  text-align: start;
  border: none;
  cursor: pointer;
}

.btn-sidebar:hover {
  background:rgba(24, 96, 230, 0.815);
  color: white;
}

.btn-sidebar.active {
  background:rgb(18, 83, 204);
  color: white;
}

.fixed-right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
}

.btn-rating {
  background: transparent;
  border: none;
}

.favorite {
  color: red;
}